<article class="post-card {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">

    <header class="post-card-header has-text-centered">
        <a class="title" href="{{url}}">
            <h2 class="post-card-title">{{title}}</h2>
        </a>
        
        <p class="post-meta">
            {{!-- 写作时间 --}}
            <span class="icon">
              <i class="fas fa-calendar-day"></i>
            </span>
            <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY年MM月D日 "}}</time>
            {{!-- 阅读需要的时间 --}}
            <span class="icon">
              <i class="far fa-clock"></i>
            </span>
            <span>{{reading_time}}</span>
            {{!-- 标签 --}}
            {{#if primary_tag}}
                <span class="icon">
                    <i class="fas fa-tags"></i>
                </span>
                <span class="post-card-tags">{{primary_tag.name}}</span>
            {{/if}}
        </p>
    </header>


    {{#if feature_image}}
    <div class="has-text-centered">
    <a class="post-card-image-link" href="{{url}}">
        <figure class="kg-image-card">
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="kg-image post-card-image"
                src="{{feature_image}}"
                alt="{{title}}"
            />
        </figure>
    </a>
    </div>
   
    {{/if}}

    <div class="post-card-content">

        <section class="post-card-excerpt">
            <p>{{excerpt words="33"}}</p>
        </section>

        <div class="has-text-centered">
            <a class="button is-outlined" href="{{url}}">阅读全文</a>
        </div>

    </div>{{!--/.post-card-content--}}

</article>
