<div class="site-nav">
    <div class="site-title">
        <h1 class="title">{{@site.title}}</h1>
        <h2 class="sub-title">{{@site.description}}</h2>
    </div>

    <div class="site-aside">
        <aside class="menu">
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </aside>
    </div>

    {{!-- 用户信息 --}}
    <div class="site-user has-text-centered">
    {{#primary_author}}
        <figure class="image is-128x128 is-inline-block">
              <img  src="{{#if profile_image}}{{img_url profile_image size="xs"}}{{else}}https://bulma.io/images/placeholders/128x128.png{{/if}}" 
                alt="{{name}}">
        </figure>
        <div class="author-name">
            <span>{{name}}</span>
        </div>
        <div class="author-bio">
            <span>{{bio}}</span>
        </div>
    {{/primary_author}}
    </div>

    {{!-- 工具栏 --}}
    <div class="site-tools">
        <span class="icon has-text-info is-large">
              <i class="fab fa-weixin fa-lg"></i>
        </span>
        <span class="icon has-text-info is-large">
              <i class="fab fa-weibo fa-lg"></i>
        </span>
        <span class="icon has-text-info is-large">
              <i class="fab fa-twitter fa-lg"></i>
        </span>
        <span class="icon has-text-info is-large">
              <i class="fab fa-facebook fa-lg"></i>
        </span>
        <span class="icon has-text-info is-large">
              <i class="fas fa-blog fa-lg"></i>
        </span>
    </div>
</div>

