{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #author tags pulls data from the author --}}

<div class="tag-page container">
    <div class="columns">
        <div class="column is-one-quarter">
            {{> "site-nav"}}
        </div>

        <div class="column">
            {{#author}}
            <div class="site-header-content has-text-centered">
                {{#if profile_image}}
                    <figure class="image is-128x128 is-inline-block">
                        <img class="is-rounded author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                    </figure>
                {{/if}}
                <h1 class="site-title">{{name}}</h1>
                {{#if bio}}
                    <h2 class="author-bio">{{bio}}</h2>
                {{/if}}
                <div class="author-meta icon-bar">
                    {{#if location}}
                        <div class="author-location">{{location}} <span class="bull">&bull;</span></div>
                    {{/if}}
                    <div class="author-stats">
                        {{plural ../pagination.total empty='暂无文章' singular='% 篇文章' plural='% 篇文章'}} <span class="bull">&bull;</span>
                    </div>
                    
                    {{!-- 作者个人网站 --}}
                    {{#if website}}
                        <a href="{{website}}">
                            <span class="icon is-large">
                                <i class="fas fa-blog fa-lg"></i>
                            </span>
                        </a>
                    {{/if}}

                    {{!-- 作者的推特 --}}
                    {{#if twitter}}
                        <a href="{{twitter_url twitter}}">
                            <span class="icon has-text-info is-large">
                                <i class="fab fa-twitter fa-lg"></i>
                            </span> 
                        </a>
                    {{/if}}

                    {{!-- 作者的Facebook --}}
                    {{#if facebook}}
                        <a href="{{facebook_url facebook}}">
                            <span class="icon has-text-link is-large">
                                <i class="fab fa-facebook fa-lg"></i>
                            </span>
                        </a>
                    {{/if}}
                </div>
            </div>
            {{/author}}

            <div class="post-feed">
                {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
                <div class="pagination-wrapper">
                {{pagination}}
                </div>
            </div>

            {{> footer}}
        </div>
    </div>
</div>